.client {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.client__icon {
    fill: var(--icon-color);
    transition: fill var(--transition-dur-and-funk);

    .client__link:hover &,
    .client__link:focus & {
        fill: var(--hover-color);
    }
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    background-color: var(--main-light-color);
    transition: border-color var(--transition-dur-and-funk);

    &:hover,
    &:focus {
         border-color: var(--hover-color);
    }
}


