.hero {
    background-color: var(--hero-background);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-mobile.jpg');
    background-size: cover;
    max-width: 480px;
    height: 400px;
    margin: 0 auto;
}

.hero__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--hero-font-color);
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.hero__button {
    padding: 10px 24px;
    border: 1px solid transparent;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--hero-font-color);
    background-color: var(--logo-color);
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.06em;
    border-radius: 4px;

    transition: background-color var(--transition-dur-and-funk);

    &:hover,
    &:focus {
        background-color: var(--dark-hover-color);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-mobile@2x.jpg');
    }
}


@media screen and (min-width: 768px) {
    .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-tablet.jpg');
    max-width: 768px;
    }
}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-tablet@2x.jpg');
    }
}


@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
        max-width: 1600px;
        height: 600px;
    }
    .hero__title{
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
    .hero__button{
        padding: 10px 32px;
        min-width: 216px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero@2x.jpg');
    }
}


