.section-team {
    background-color: var(--secondary-light-color);
}

.card-set {
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
    column-gap: 30px;
}

.card-set__item {
    background-color: var(--main-light-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-set__name {
    padding-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.card-set__position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-font-color);
    text-align: center;
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding-bottom: 30px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-light-color);
    transition: background-color var(--transition-dur-and-funk);

    &:hover,
    &:focus{
        background-color: var(--hover-color);
    }
}

.social-list__icon {
    fill: var(--icon-color);
    transition: fill var(--transition-dur-and-funk);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--main-light-color);
    }
}

