.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__field {
    margin-bottom: 10px;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    transition: border-color var(--transition-dur-and-funk);

    &:focus {
        border-color: var(--active-color);
        outline: none;
    }
}

.modal-form__desc {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-font-color);
}

.modal-form__wrap {
    position: relative;
    display: block;
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition-dur-and-funk);

    .modal-form__input:focus + & {
        fill: var(--active-color);
    }
}

.modal-form__message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--transition-dur-and-funk);

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        border-color: var(--active-color);
        outline: none;
    }
}

.check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.check-field__select {
    display: none;
    background-color: #2196F3;
    border-radius: 2px;
    margin-right: 8px;

    .check-field__default:checked ~ & {
        display: inline-block;
    }
}

.check-field__empty {
    margin-right: 8px;
    transition: fill var(--transition-dur-and-funk);

    .check-field__default:checked + & {
        display: none;
    }

    .check-field__default:focus + & {
        fill: var(--active-color);
    }
}

.check-field__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

.check-field__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--active-color);
    text-decoration: underline;

}

.modal-form__submit {
    padding: 10px 32px;
    border: 1px solid transparent;
    min-width: 216px;
    align-self: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--hero-font-color);
    background-color: var(--logo-color);
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.06em;
    border-radius: 4px;

    transition: background-color var(--transition-dur-and-funk), border-color var(--transition-dur-and-funk);

    &:hover,
    &:focus {
        background-color: var(--dark-hover-color);
        border-color: var(--active-color);
        outline: none;
    }
}

