.page-header{
  border: 1px solid #ECECEC; 
  padding-top: 10px;
  padding-bottom: 10px;

@media (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 0;
    }
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

@media (min-width: 768px){
    justify-content: flex-start;
}
 
}

.page-header__logo {
    color: var(--logo-header-color);
}
.nav-menu__list{
    display: none;
}

.contact-menu{
    display: none;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;

    transition: fill var(--transition-dur-and-funk);
    
    &:hover,
    &:focus {
        fill: var(--active-color);
        }

@media (min-width: 768px){
        display: none;
    }
}

.nav-menu {
@media (min-width: 768px){
    display: flex;
    align-items: center;
    }
}

.nav-menu__list {
@media (min-width: 768px){
    display: flex;
    margin-left: 87px;

    .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    & .nav-menu__item:not(:last-child) {
        margin-right: 50px;
    }
}

@media (min-width: 1200px){
    margin-left: 93px;
}

}

.nav-menu__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: color var(--transition-dur-and-funk);

}
.contact-menu__link {

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-font-color);
    transition: color var(--transition-dur-and-funk);

@media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
}
}

.nav-menu__link {
    position: relative;

    &:hover,
    &:focus {
     color: var(--hover-color)
    }
}

.nav-menu__link--active {
    color: var(--active-color);
    
    &::after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        background-color: var(--active-color);
        border-radius: 2px;
    }
}

.contact-menu {
@media (min-width: 768px){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    margin-left: auto;
}

@media (min-width: 1200px){
    flex-direction: row;
    
    & .contact-menu__item:not(:last-child) {
        margin-right: 30px;
    }
}
}

.contact-menu__link {
@media (min-width: 768px){
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-font-color);

    &:hover,
    &:focus {
    color: var(--hover-color)
    }
}

@media (min-width: 1200px){
    padding-top: 32px;
    padding-bottom: 32px;
}
}

.contact-menu__icon {
    margin-right: 10px;
    fill: var(--secondary-font-color);
    transition: fill var(--transition-dur-and-funk);

    .contact-menu__link:hover &,
    .contact-menu__link:focus & {
        fill: var(--hover-color);
    }
}


