body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-light-color);
    color: var(--main-font-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}